<!doctype html>
<title>Welcome</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Welcome to our Strava app!</h1>
  <div class=metanav>
    <h3>
      This app finds athletes who are about as fast as you by analyzing segment leaderboards
      for segments you've run recently.
    </h3>
    <h3>
        Thanks for signing in, {{session['athlete_name']}}!
        <br>
        <br>
        First, choose how many activities you'd like us to use to find similar runners.
        <br>
        <br>
        Note more activities take longer, and rate limits apply.
        <br>
        <br>
        After answering, click 'ok!', then we will look up your activities and find your rivals!
        Be patient while we retrieve your activities!
  </h3>

  <div class=metanav>

    {{question}}

    <h4>
      <form id='answerform' method='post' action='options' >
        <p>
          Answer: <br />
          <input type='radio' name='max_choice' value='5' /> {{ans1}} <br />
          <input type='radio' name='max_choice' value='10' /> {{ans2}} <br />
          <input type='radio' name='max_choice' value='20' /> {{ans3}} <br />
        </p>

        <p>
          <input type='submit' value='OK!' />
        </p>
      </form>
    </h4>

  </div>
</div>
</html>
