<!doctype html>
<title>Welcome</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Welcome to our Strava app!</h1>
  <div class=metanav>
    <h3>
      This app finds athletes who are about as fast as you by analyzing segment leaderboards
      for segments you've run recently. 
    </h3>
    <h3>
    Click below to authenticate with Strava.
  </h3>

    <form id='userinfoform' method='post' action='index' >

     <p>
     <input type='submit' value='Ok!' />
     </p>

    </form>

  </div>
</div>
</html>
